/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap");

body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Spartan", sans-serif !important;
}

.main {
  background: linear-gradient(0deg, rgb(17 16 17 / 60%), rgb(25 24 25 / 34%)),
    url(./assets/weather2.jpg);

  height: 100vh;
  color: white;
}
